<mat-tab-group>
  <mat-tab label="Минимальная">
    <app-simple-table></app-simple-table>
  </mat-tab>
  <mat-tab label="С иконками">
    <app-table-with-icons></app-table-with-icons>
  </mat-tab>
  <mat-tab label="Сложный объект. Поиск">
    <app-complex-object></app-complex-object>
  </mat-tab>
  <mat-tab label="С действиями">
    <app-table-with-actions></app-table-with-actions>
    <h3>Действия в начале</h3>
    <app-actions-before></app-actions-before>
  </mat-tab>

  <mat-tab label="С пагинацией">
    <app-table-with-pagination></app-table-with-pagination>
  </mat-tab>

  <mat-tab label="С чекбоксами">
    <app-table-with-selection></app-table-with-selection>
  </mat-tab>

  <mat-tab label="С индексом">
    <app-table-with-index></app-table-with-index>
  </mat-tab>

  <mat-tab label="С сортировкой">
    <app-table-with-sort></app-table-with-sort>
  </mat-tab>

  <mat-tab label="Sticky">
    <app-table-with-sticky-header></app-table-with-sticky-header>
  </mat-tab>


  <mat-tab label="Редактируемая">
    <app-table-editable></app-table-editable>
  </mat-tab>

  <mat-tab label="Highlight">
    <app-table-highlight-clicked-row></app-table-highlight-clicked-row>
  </mat-tab>

  <mat-tab label="Wrapped icons">
   <app-table-with-wrapped-icon></app-table-with-wrapped-icon>
  </mat-tab>

  <mat-tab label="Большая таблица">
    <app-table-big></app-table-big>
  </mat-tab>
</mat-tab-group>
